<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PaymentSystem.Properties.Settings.SanctionsConnection"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Sanctions.accdb"
            providerName="System.Data.OleDb" />
        <add name="PaymentSystem.Properties.Settings.SanctionsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\PSC#\SanctionManager\SanctionManager\bin\Debug\Sanctions.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
